@import "../../style-configuration/configuration";
.cost-platform-bar{
  color: $main__text-color;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    .platform{
      display: none;
    }
  }
}