.side-bar {
  $this: &;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 50;
  overflow: hidden;
  display: flex;

  &--active{
    width: 100%;
    display: flex;
    .side-nav{
      width: 15rem;
      @media (min-width: 768px) {
        width: 20rem;
        font-size: 2rem;
      }
    }
    #{$this}__hide{
      flex-grow: 1;
      background-color: rgba(#000e1d,.5);
    }
  }
}