.main-page {
  background-image: linear-gradient(to right, rgb(0, 51, 77) 0%, rgb(6, 33, 43) 100%);
  padding-bottom: .5em;

  display: flex;
  flex-direction: column;
  align-items: center;

  > * + * {
    margin-top: 3em;
  }

  .big-slider,
  .slider {

  }
  &__table{
    width: 100%;
  }
}