$desktop: 1920px;
$laptop: 1440px;
$tablet: 768px;
$phone: 320px;

$main__background-color: #000034;
$main__text-color: white;
$create-form__background: linear-gradient(to right top, rgb(12, 24, 47), rgb(0, 8, 20));

:root{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  min-height: 0;
  min-width: 0;
}

A {
  text-decoration: none;
  color: inherit;
}

UL {
  list-style: none;
  margin: 0;
  padding: 0;
}

P {
  padding: 0;
  margin: 0;
}