.footer{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: .5em;
  @media(min-width: 500px){
    flex-direction: row;
    height: 5rem;
  }

  .logo{
    height: 5em !important;
    @media (min-width: 500px) {
     height: unset;
    }
  }

  background-color: #68c1ff;

  &__text{
    display: flex;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    >*{
      color: white;
    }

    > *+*{
      margin-left: .5em;
      padding-left: 3px;
    }
  }
}