@import "../../../style-configuration/configuration";
.small-slide {
  padding: .5em;
  margin: .5em;
  height: 95%;
  background: linear-gradient(to bottom, rgba(169, 228, 247, 1) 0%, rgba(15, 180, 231, 1) 100%);

  &:hover{
    background: linear-gradient(to bottom, rgb(71, 164, 247) 0%, rgb(31, 231, 118) 100%);
  }

  @media (min-width: $phone) {
    .cost{
      font-size: .6em;
    }
  }

  & .cost-platform-bar{
    height: 20%;
  }

  .cost{
    font-size: .9em;
  }
  .platform{
    font-size: 1.5em;
  }
  &__image {
    margin-bottom: .5em;
    height: 75%;
  }

  & .cost-platform-bar, &__image{
    width: 100%;
  }
}