.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;

  &--hide {
    width: 0;
  }

  .list-item {
    background-color: darkcyan;
    color: #000;
    transition: .5s all ease-in-out;
    &:hover {
      color: white;
      background-color: #12bdff;
    }
  }

  .list-item + .list-item {
    border-top: 2px solid white;
  }

  .list-item:last-child {
    border-bottom: 2px solid white;
  }

  .list-item--link {
    color: white;
    font-size: 1.4rem;
    padding: .25em;
  }

  & .list-item--link + .list-item--link {
    margin-top: 1em;
  }
}